[submodule "AccentureDSTestCase"]
	path = AccentureDSTestCase
	url = https://github.com/kolya95/AccentureDSTestCase
[submodule "korpus-test-task"]
	path = korpus-test-task
	url = https://github.com/DenisVasyov/korpus-test-task
[submodule "datascience-recruitment-challenges"]
	path = datascience-recruitment-challenges
	url = https://github.com/alexeygrigorev/datascience-recruitment-challenges
[submodule "GamblingPro"]
	path = GamblingPro
	url = https://github.com/loverberg/sourcing_information
